body {
     font-family: Arial, sans-serif;
     background: #f7f7f7;
     padding: 20px;
 }

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba (0,0,0,0.1);

}

h1 {
    text-align: center;
    
}

.add-task {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 8px;
}

#add-Task-Button {
    padding: 8px 12px;
    cursor: pointer; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f1f1f1;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}


