body {
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: var(--container-bg);
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(75,79,54,0.2);
  max-width: 400px;
  width: 100%;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: var(--secondary-color);
  outline: none;
}

button {
  background-color: var(--button-bg);
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-bg);
}

li {
  padding: 12px 15px;
  background-color: var(--checkbox-bg);
  margin-bottom: 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  color: var(--text-color);
}

li:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}
